nav.menu
    ul.menu__list
        li.menu__item
            a.menu__link(href='#') Главная
        li.menu__item
            a.menu__link(href='#') Обо мне
        li.menu__item
            a.menu__link(href='#') Навыки
        li.menu__item
            a.menu__link(href='#') Работы
        li.menu__item
            a.menu__link(href='#') Отзывы
        li.menu__item
            a.menu__link(href='#') Связаться
