.promo
    .promo__container.container
        h1.promo__title Личный сайт
            br
            | веб-разработчика
            .promo__name Владимир Астаханов
        button.promo__btn(type='button') Скролл
            +icon('scroll', 'promo__btn-icon')
