section.about
    .about__container.container
        .about__col
            +image('main-photo.png', 'about__photo', 'Фотография Владимира Астаханова')
            table.about__table
                tr
                    td.about__table-title.text Проживаю:
                    td.about__table-content Новосибирск
                tr
                    td.about__table-title.text Возраст:
                    td.about__table-content 27 лет
                tr
                    td.about__table-title.text Родился:
                    td.about__table-content 1 января 1991
        //.about__col
        .about__greeting.text Привет, меня зовут
            h3.about__title Владимир Астаханов
            .about__text
                p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            .about__description
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
