.budda-parallax
    div.budda-parallax__layer.budda-parallax__layer--mountains.js-budda-layer(data-speed='0.05')
        +image('pb-mountains.png', 'budda-parallax__img', '', 'presentation')
    div.budda-parallax__layer.budda-parallax__layer--budda.js-budda-layer(data-speed='0.2')
        +image('pb-budda.png', 'budda-parallax__img', '', 'presentation')
    div.budda-parallax__layer.budda-parallax__layer--first-cloud.js-budda-layer(data-speed='0.02')
        +image('pb-first-cloud.png', 'budda-parallax__img', '', 'presentation')
    div.budda-parallax__layer.budda-parallax__layer--second-cloud.js-budda-layer(data-speed='0.05')
        +image('pb-second-cloud.png', 'budda-parallax__img', '', 'presentation')
    div.budda-parallax__layer.budda-parallax__layer--third-cloud.js-budda-layer(data-speed='0.1')
        +image('pb-third-cloud.png', 'budda-budda__img', '', 'presentation')
