.form
    .container
        h2.form__title.title Связаться со мной
        form.form__block.j-form(action='https://webdev-api.loftschool.com/sendmail/')
            .form__wrap.form__wrap--name
                label.form__label.form__label--name Введите ваше имя
                    +icon('avatar', 'form__icon form__icon--name')
                input.form__input.js-input(type='text' name='name' placeholder='Ковальчук Дмитрий')
                .form__error Jib,rf
            .form__wrap.form__wrap--email
                label.form__label.form__label--email Введите ваш email
                    +icon('email', 'form__icon form__icon--email')
                input.form__input.js-input(type='email' name='email' placeholder='loftschool@study.com')
                .form__error
            .form__wrap.form__wrap--phone
                label.form__label.form__label--phone Введите ваш номер телефона
                    +icon('avatar', 'form__icon form__icon--name')
                input.form__input.js-input(type='tel' name='phone' placeholder='+7 999 999-99-99')
                .form__error
            .form__wrap.form__wrap--text
                label.form__label.form__label--text Сообщение к письму
                    +icon('chat', 'form__icon form__icon--text')
                textarea.form__input.form__input--text.js-input(name='message' placeholder='Требуется ваша помощь в создании сайта.\n' + 'Интересуют сроки и цена вопроса')
                .form__error
            button.form__btn.js-submit(type='submit') Отправить
