header.header.js-header
    .header__container.container
        .header__logo
            include logo
        .header__menu
            include menu
            +menu('header')
        .header__socials
            include socials
            +socials('header')
        button.header__btn.js-toggle-btn(type='button' aria-label='Открыть меню')
