#promo.promo
    .promo__container.container
        h1.promo__title Личный сайт
            br
            | веб-разработчика
            .promo__name Владимир Астаханов
        a.promo__scroll-btn(href='#about') Вниз
            +icon('scroll', 'promo__btn-icon')
