.promo-parallax
    div.promo-parallax__layer.promo-parallax__layer--mountain.js-promo-layer(data-speed='0.2')
        +image('pp-mountain.png', 'promo-parallax__img', '', 'presentation')
    div.promo-parallax__layer.promo-parallax__layer--balloon.js-promo-layer(data-speed='0.45')
        +image('pp-balloon.png', 'promo-parallax__img', '', 'presentation')
    div.promo-parallax__layer.promo-parallax__layer--cloud.js-promo-layer(data-speed='0.1')
        +image('pp-cloud.png', 'promo-parallax__img', '', 'presentation')
    div.promo-parallax__layer.promo-parallax__layer--man.js-promo-layer(data-speed='0.35')
        +image('pp-man.png', 'promo-parallax__img', '', 'presentation')
    div.promo-parallax__layer.promo-parallax__layer--avalanche
        +image('pp-avalanche.png', 'promo-parallax__img', '', 'presentation')
    div.promo-parallax__layer.promo-parallax__layer--haze
        +image('pp-haze.png', 'promo-parallax__img', '', 'presentation')
