section#skills.skills
    .skills__container.container
        h2.skills__title.title Чем я могу быть полезен вам
        p.skills__text.text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .skills__wrapper
            h3.skills__subtitle Front-end
            ul.skills__list
                li.skills__item
                    svg.skills__icon(viewBox='0 0 100 100' preserveAspectRatio='none')
                        circle.skills__circle.skills__circle--under(cx='50' cy='50' r='40')
                        circle.skills__circle.skills__circle--above(cx='50' cy='50' r='40' stroke-dashoffset='210')
                    h4.skills__tech HTML5
                li.skills__item
                    svg.skills__icon(viewBox='0 0 100 100' preserveAspectRatio='none')
                        circle.skills__circle.skills__circle--under(cx='50' cy='50' r='40')
                        circle.skills__circle.skills__circle--above(cx='50' cy='50' r='40' stroke-dashoffset='110')
                    h4.skills__tech HTML5
                li.skills__item
                    svg.skills__icon(viewBox='0 0 100 100' preserveAspectRatio='none')
                        circle.skills__circle.skills__circle--under(cx='50' cy='50' r='40')
                        circle.skills__circle.skills__circle--above(cx='50' cy='50' r='40' stroke-dashoffset='300')
                    h4.skills__tech Javascript
                li.skills__item
                    svg.skills__icon(viewBox='0 0 100 100' preserveAspectRatio='none')
                        circle.skills__circle.skills__circle--under(cx='50' cy='50' r='40')
                        circle.skills__circle.skills__circle--above(cx='50' cy='50' r='40' stroke-dashoffset='190')
                    h4.skills__tech Jquery и Vue.js
            h3.skills__subtitle Workflow
            .skills__list
                li.skills__item
                    svg.skills__icon(viewBox='0 0 100 100' preserveAspectRatio='none')
                        circle.skills__circle.skills__circle--under(cx='50' cy='50' r='40')
                        circle.skills__circle.skills__circle--above(cx='50' cy='50' r='40' stroke-dashoffset='210')
                    h4.skills__tech HTML5
                li.skills__item
                    svg.skills__icon(viewBox='0 0 100 100' preserveAspectRatio='none')
                        circle.skills__circle.skills__circle--under(cx='50' cy='50' r='40')
                        circle.skills__circle.skills__circle--above(cx='50' cy='50' r='40' stroke-dashoffset='110')
                    h4.skills__tech HTML5
                li.skills__item
                    svg.skills__icon(viewBox='0 0 100 100' preserveAspectRatio='none')
                        circle.skills__circle.skills__circle--under(cx='50' cy='50' r='40')
                        circle.skills__circle.skills__circle--above(cx='50' cy='50' r='40' stroke-dashoffset='300')
                    h4.skills__tech HTML5
                li.skills__item
                    svg.skills__icon(viewBox='0 0 100 100' preserveAspectRatio='none')
                        circle.skills__circle.skills__circle--under(cx='50' cy='50' r='40')
                        circle.skills__circle.skills__circle--above(cx='50' cy='50' r='40' stroke-dashoffset='290')
                    h4.skills__tech HTML5

