section#works.works
    .works__container.container
        h2.works__title.title Мои работы
        .works__work-number 2
        .works__slider
            .works__main-work
                +image('promo-slide.jpg', 'works__img', '')
            .works__preview-block
                .works__preview-work
                    +image('home-slide.jpg', 'works__img', '')
                .works__preview-work
                    +image('mountains-slide.jpg', 'works__img', '')
                .works__preview-work
                    +image('autumn-slide.jpg', 'works__img', '')
                .works__preview-work
                    +image('car-slide.jpg', 'works__img', '')
            button.works__btn.works__btn--prev(type='button' aria-label='Предыдущий слайд' disabled)
                +icon('btn-arrow', 'works__btn-icon')
            button.works__btn.works__btn--next(type='button' aria-label='Следующий слайд')
                +icon('btn-arrow', 'works__btn-icon works__btn-icon--next')
        .works__wrapper
            .works__tags
                span.works__tag HTML
                span.works__tag CSS
                span.works__tag Javascript
            h3.works__work-title Сайт школы образования
            p.works__description.text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            a.works__link(href='') Посмотреть сайт
