header.header
    .header__container.container
        .header__logo
            include ../logo/logo
        .header__menu
            include ../menu/menu
            +menu('header')
        .header__socials
            include ../socials/socials
            +socials('header')
        button.header__btn.js-toggle-btn(type='button' aria-label='Открыть меню')
