.budda-parallax
    div.js-parallax-layer(data-speed='')
        +image('pb-bg.png', 'budda-parallax__img budda-parallax__img--bg', '', 'presentation')
    div.js-parallax-layer(data-speed='')
        +image('pb-mountains.png', 'budda-parallax__img budda-parallax__img--mountains', '', 'presentation')
    div.js-parallax-layer(data-speed='')
        +image('pb-budda.png', 'budda-parallax__img budda-parallax__img--budda', '', 'presentation')
    div.js-parallax-layer(data-speed='')
        +image('pb-first-cloud.png', 'budda-parallax__img budda-parallax__img--first-cloud', '', 'presentation')
    div.js-parallax-layer(data-speed='')
        +image('pb-second-cloud.png', 'budda-parallax__img budda-parallax__img--second-cloud', '', 'presentation')
    div.js-parallax-layer(data-speed='')
        +image('pb-third-cloud.png', 'budda-parallax__img budda-parallax__img--third-cloud', '', 'presentation')
