footer.footer
    .container
        .footer__year
            span.footer__symbol &#9400;
            | &nbsp;2019
        .footer__name Владимир Астахов
            .footer__position Личный сайт  веб-разработчика
        .footer__wrapper
            .footer__menu
                include ../menu/menu
            .footer__about Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
            .footer__socials
                include ../socials/socials
                +socials('footer')
            p.footer__blockquote Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                .footer__author Martin Golding
