.footer {
    padding: 65px 0 60px;
    background-color: $footer-color;

    &__year {
        display: flex;
        align-items: center;
        color: $white-color;
        font-size: 48px;
        font-weight: 600;
        opacity: .1;
        line-height: 1;
    }

    &__symbol {
        font-size: 40px;
    }
}
