@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=cyrillic");

@import "./styles/mixins.pcss";
@import "./styles/base.pcss";

@import "./components/reviews/reviews.pcss";

